@font-face {
  font-family: 'JetBrainsMono Nerd Font';
  src: url('/fonts/JetBrainsMono/JetBrainsMonoNerdFont-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono Nerd Font';
  src: url('/fonts/JetBrainsMono/JetBrainsMonoNerdFont-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrainsMono Nerd Font';
  src: url('/fonts/JetBrainsMono/JetBrainsMonoNerdFont-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: 'Classic Console Neue Font';
  src: url('/fonts/clacon2.woff2') format('woff2');
  font-weight: 400;
  font-display: swap;
}
