---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl font-bold mb-8 text-nvim-blue">About</h1>
    <div class="text-center">
      <p class="mb-4">version 1.6.6</p>
      <div class="flex flex-col text-left justify-left mx-64">
        <p class="p-4">
          Hi, I'm Dhanvith Nayak, a third-year undergraduate student at IIT Kharagpur. <br />
          I have been fascinated by computers ever since my parents showed me Michael Jackson's <span class="text-nvim-green">Dangerous</span> in my old PC when I was 9. <br />
          Things got out of control pretty quickly and I now spend 4 hours picking the perfect Astro theme to build a portfolio website. <br /> <br />
          
          My interests currently include software fuzzing, graphics programming, and I often participate in CTFs.  I also occasionaly produce electronic music. I have also recently taken interest in films, and enjoy studying films and filmmaking (<a href="https://letterboxd.com/ramadhir_singh/" target="_blank" class="text-nvim-green hover:bg-nvim-green hover:text-black"><u>My letterboxd favorites</u></a>). <br />
          I am deeply influenced by the concept of free-software and believe that knowledge must be free for all. <br /><br />
          I am a sound engineer at <a href="https://www.instagram.com/tfps.iitkgp" target="_blank" class="hover:bg-nvim-fg hover:text-black"><u>TFPS</u></a>, an core team member at <a href="https://www.kossiitkgp.org" target="_blank" class="hover:bg-nvim-fg hover:text-black"><u>KOSS</u></a>, and <span class="text-nvim-green">Research and Development Head</span> at <a href="https://www.instagram.com/cgs_iitkgp/" target="_blank" class="text-nvim-green hover:bg-nvim-green hover:text-black"><u>Computer Graphics Society</u></a>, IIT Kharagpur.
        </p>
      </div>
    </div>
  </div>
</Layout>
