---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Dhanvith Nayak">
  <div class="flex flex-col items-center justify-center h-full">
    <h1 class="text-4xl mb-6 text-nvim-blue">
      Dhan<span class="text-nvim-green font-bold">vi</span>th Nayak
    </h1>
    <div class="text-center">
      <p class="mb-4">
        version 1.6.6 <br />
        Modified by <a href="/about">me</a> <br />
        This website is open source and freely distributable <br />
      </p>
      <div class="p-8 text-nvim-green text-left">
        <p>type  :about<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view about information</p>
        <p>type  :blog<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view blog posts</p>
        <p>type  :contact<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view contact details</p>
        <p>type  :resume<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view my Resume</p>

        <br />
        <p>type  /<span class="text-nvim-blue">&lt;Search term&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to search posts</p>
        <br />
        <p>type  :h<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to view the <a href="/help" class="underline text-nvim-blue hover:text-blue-800">help</a> page</p>
        <p>type  :q<span class="text-nvim-blue">&lt;Enter&gt;</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to exit</p>
      </div>
    </div>
  </div>
</Layout>
