---
import contacts from '../data/contacts.json';

const iconModules = import.meta.glob('../../public/icons/*.svg', { query: '?raw', import: 'default', eager: true });

const iconMap: { [key: string]: string } = Object.entries(iconModules).reduce((acc, [path, content]) => {
const iconName = path.split('/').pop()?.replace('.svg', '');
  if(iconName) {
    acc[iconName] = content as string;
  }
  return acc;
}, {} as { [key: string]: string}
);
---

<div class="flex flex-row justify-center items-center mx-64">
  {
  contacts.map((contact) => (
    <a href={contact.url || `mailto:${contact.text}`} target={contact.url ? "_blank" : "_self"} class="mx-3">
      {iconMap[contact.icon] && (
        <span set:html={iconMap[contact.icon]} />
      )}
    </a>
  ))
  }
</div>
