---
import Layout from "@/layouts/Layout_archive_v1.astro";
import { getCollection } from "astro:content";

export async function getStaticPaths() {
  const blogEntries = await getCollection("blog");
  return blogEntries.map((post) => ({
    params: { slug: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;

if (!post) {
  return Astro.redirect("/404");
}

const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="p-100">
    <article class="prose prose-invert max-w-none">
      <h1>{post.data.title}</h1>
      <div class="font-jetbrains-mono"><Content /></div>
    </article>
  </div>
</Layout>
